<div class="card">
    <div class="card-header">
        Process
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="criteria-label">Choose a criteria  : </label>
                <select id="criteria-select" [(ngModel)]="criteria" name="criteria" class="form-control">
                    <option value="">--Please choose a criteria--</option>
                    <option *ngFor="let c of criterias" [value]="c">{{ c }}</option>
                </select>
            </div>
            <button  (click)="processing()" class="btn btn-primary">processing</button>
        </form>
    </div>
    <div class="card-footer"></div>
    <div class="row">
        <div class="col-sm-6">
            <h4> Initial list</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Salaire</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employe of listEmployes">
                        <td>{{employe.id}}</td>
                        <td>{{employe.nom}}</td>
                        <td>{{employe.prenom}}</td>
                        <td>{{employe.salaire}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6" [hidden]="!showListEmployesWithoutDuplicate">
                <h4>List without duplicate by criteria : {{criteria}}</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Salaire</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employe of listEmployesWithoutDuplicate">
                        <td>{{employe.id}}</td>
                        <td>{{employe.nom}}</td>
                        <td>{{employe.prenom}}</td>
                        <td>{{employe.salaire}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>